@{
    Layout = "~/products/_ProductsLayout.cshtml";
    Page.Title = "Product Details";

    var db = Database.Open("Sabersmith");
    var productId = UrlData[0];
    var product = db.QuerySingle("SELECT * FROM PRODUCTS WHERE pk_ProductID = @0", productId);

    var imgURL = product.IMGPath + "/" + product.URLName + "/" + product.URLName + ".png";


    if (product == null) {
        Response.Redirect("~/products/");
    }
}

<script type="text/javascript">
    var currentWeapon = "@product.URLName";
    var largePath = "@product.IMGPath" + "/@product.URLName" + "/";
    var basePrice = parseInt("@string.Format("{0:f}", product.UnitPrice)");
    var innerWrap = "iblk";
    var outerWrap = "oblk";
    var anodize_parts = false;
    var anodize_blade = false;
    var imgError = true;

    $(document).ready(function(){
        
        // Iterate through each option to check for image errors
        $("#inner > option").each(function(i){
                
            // Set inner Wrap
            innerWrap = $(this).attr("id");
                
            $("#outer > option").each(function(i){
                
                outerWrap = $(this).attr("id");
                var gripPath = largePath + "grip-" + innerWrap + "-" + outerWrap + ".png";
                $("#main-image").attr({ src: gripPath });
                
                $("#main-image").error(function(){
                    imgError = true;
                });
                
                // only works if this is here >.>
                //alert("Image Error: " + imgError);

                
            });
            
        });
        
        $("#main-image").attr({ src: largePath + "pommel-" + false + ".png" });
        $("#main-image").error(function(){
            imgError = true;
        });
        
        $("#main-image").attr({ src: largePath + "pommel-" + true + ".png" });
        $("#main-image").error(function(){
            imgError = true;
        });

        $("#main-image").attr({ src: largePath + "guard-" + false + ".png" });
        $("#main-image").error(function(){
            imgError = true;
        });
        
        $("#main-image").attr({ src: largePath + "guard-" + true + ".png" });
        $("#main-image").error(function(){
            imgError = true;
        });
        
        $("#main-image").attr({ src: largePath + "blade-" + false + ".png" });
        $("#main-image").error(function(){
            imgError = true;
        });
        
        $("#main-image").attr({ src: largePath + "blade-" + true + ".png" });
        $("#main-image").error(function(){
            imgError = true;
        });
        
        /* If there is an error, show the base image instead */
        if(imgError){
            $('.product-part').attr({ class: 'hidden' });
            $('#main-image').attr({
                class: 'main-image',
                src: '@imgURL'
            });
            
            /* Let the user know that changes will not be reflected in the image */
            $('h4').after("<span class='message'>*Image will not reflect changes.</span>");
            
        }else{
            innerWrap = "iblk";
            outerWrap = "oblk";
        }

    });


    $(function (changeProductImage)
    {
        /* Set the inner wrap color */
        $(".inner-wrap").hover(function ()
        {
            innerWrap = $(this).attr("id");

            changeImage();
            return false;
        });

        /* Set the outer wrap color */
        $(".outer-wrap").hover(function ()
        {
            outerWrap = $(this).attr("id");

            changeImage();
            return false;
        });


        /* Check for anodized parts */
        $("#anodize-parts").change(function ()
        {
            anodize_parts = $('input[id=anodize-parts]').is(':checked');

            changeImage();
            return false;
        });

        /* Check for anodized blade */
        $("#anodize-blade").change(function ()
        {
            anodize_blade = $('input[id=anodize-blade]').is(':checked');
            
            changeImage();
        });

        function changeImage()
        {
            /* Calculate Price */
            var optionPrice = 0;
            if (anodize_parts) optionPrice += 20;
            if (anodize_blade) optionPrice += 50;
            var totalPrice = basePrice + optionPrice;
            
            
            /* Show Price */
            if (optionPrice > 0)
                $('#option-price').text('Options: $' + optionPrice);
            else
                $('#option-price').text('');
            $('#total-price').text('$' + totalPrice)
            
            if(imgError)
                return false;

            var gripPath = largePath + "grip-" + innerWrap + "-" + outerWrap + ".png";
            var pommelPath = largePath + "pommel-" + anodize_parts + ".png";
            var guardPath = largePath + "guard-" + anodize_parts + ".png";
            var bladePath = largePath + "blade-" + anodize_blade + ".png";

            $("#pommel").attr({ src: pommelPath });
            $("#grip").attr({ src: gripPath });
            $("#guard").attr({ src: guardPath });
            $("#blade").attr({ src: bladePath });

            return false;
        }

    });
</script>


<section id="@product.URLName" class="product-details">

    <!-- Show all parts of the current product -->
    <div id="product-image">
        <img src="#" alt="@product.ProductName" id="main-image" class="hidden" />
        
        <img src="@product.IMGPath/@product.URLName/pommel-false.png" id="pommel" class="product-part" alt="Pommel" />
        <img src="@product.IMGPath/@product.URLName/grip-iblk-oblk.png" id="grip" class="product-part" alt="Grip" />
        <img src="@product.IMGPath/@product.URLName/guard-false.png" id="guard" class="product-part" alt="Guard" />
        <img src="@product.IMGPath/@product.URLName/blade-false.png" id="blade" class="product-part" alt="Blade" />
        
    </div>


    <!-- Details and options for current product -->
    <div id="product-desc">

        <!-- Details of current product -->
        <h2>@product.ProductName</h2>
        <p id="price">
            Price: <span id="total-price">$@string.Format("{0:f0}", product.UnitPrice)</span>
            <span id="option-price"></span>
        </p>
        <p class="detail">Overall Length: @product.OverallLength in.</p>
        @if(product.BladeLength != null){
            <p class="detail">Blade Length: @product.BladeLength in.</p>
        }
        <p class="detail">Shipping Weight: @product.ShippingWeight lbs</p>


        @if(product.CanModify == true){
            <h4>Options</h4>
            <!-- List of options for current product -->
            <div class="product-options">
                <span>Base Wrap:</span>
                <select name="inner" id="inner">
                    <option class="inner-wrap" id="iblk" value="Black (Leather)">Black (Leather)</option>
                    <option class="inner-wrap" id="igrn" value="Green (Leather)">Green (Leather)</option>
                    <option class="inner-wrap" id="ibrn" value="Brown (Leather)">Brown (Leather)</option>
                    <option class="inner-wrap" id="ired" value="Red (Leather)">Red (Leather)</option>
                    <option class="inner-wrap" id="iprp" value="Purple (Leather)">Purple (Leather)</option>
                    <option class="inner-wrap" id="iblu" value="Blue (Leather)">Blue (Leather)</option>
                </select>
            </div>

            <div class="product-options">
                <span>Outer Wrap:</span>
                <select name="outer" id="outer">
                    <option class="outer-wrap" id="oblk" value="Black (Leather)">Black (Leather)</option>
                    <option class="outer-wrap" id="ogrn" value="Green (Leather)">Green (Leather)</option>
                    <option class="outer-wrap" id="obrn" value="Brown (Leather)">Brown (Leather)</option>
                    <option class="outer-wrap" id="ored" value="Red (Leather)">Red (Leather)</option>
                    <option class="outer-wrap" id="oprp" value="Purple (Leather)">Purple (Leather)</option>
                    <option class="outer-wrap" id="oblu" value="Blue (Leather)">Blue (Leather)</option>
                </select>
            </div>


            <h5>Black Oxide</h5>
            <div class="product-options">
                <input id="anodize-blade" type="checkbox" /> <span>Blade ($50)</span>
            </div>

            <div class="product-options">
                <input id="anodize-parts" type="checkbox" /> <span>Parts ($20)</span>
            </div>
        }
        <div class="cart">
            <label for="qty">Qty</label> <input type="text" id="qty" value="1" maxlength="2" />
            <a href="#">Add to Cart</a>
        </div>
    </div>
    
    
</section>
